.booking_main {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  height: 600px;
  margin-bottom: 20px;
}

th {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.tr1 {
  background-color: white;
}
.tr2 {
  background-color: rgb(205, 199, 199);
}
.tr3 {
  background-color: white;
}
.tr4 {
  background-color: rgb(205, 199, 199);
}
.tr5 {
  background-color: white;
}
.tr6 {
  background-color: rgb(205, 199, 199);
}
.tr7 {
  background-color: white;
}
.tr8 {
  background-color: rgb(205, 199, 199);
}
